@font-face {
    font-family: 'neon';
    src: url('./assets/font.ttf') format('truetype');
}
:root {
    --font-size-1: 20px;
    --font-size-2: 18px;
    --font-size-3: 15px;
    --sidebar-bkc: #082f49;
    --container-level-padding: 20px;
    --backdrop-col: black;
    --button-border-radius: 30px;
    --input-border-radius: 30px;
    --card-border-radius: 25px;
    --box-shadow-col: rgba(0, 0, 0, 0.2);
    --card-shadow: 2px 2px 10px 0px var(--box-shadow-col);
    --font-color: black;
    --sidebar-font-color: white;
    color: var(--font-color);
    --peach-col-1: #fff1f2;
    --peach-col-2: #ffe4e6;
    --peach-col-3: #fecdd3;
    --peach-col-4: #fda4af;
    --peach-col-5: #fb7185;
    --peach-col-6: #f43f5e;
    --peach-col-7: #e11d48;
    --peach-col-8: #be123c; 
    --bkg-color: white;
    --board-bkc: var(--peach-col-1);
    --icon-filter: invert(0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bkg-color);
    height: 100vh;
    font-family: 'neon', Roboto, Oxygen, Ubuntu, sans-serif, sans-serif, sans-serif;
    box-sizing: border-box;
    font-size: var(--font-size-3);
}


button,
fieldset,
input,
legend,
select,
textarea, option {
  appearance: none;
  border: none;
  outline: none;
}


.backdrop {
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: var(--backdrop-col);
    opacity: 0%;
    display: none;
    transition: opacity 300ms, display 300ms allow-discrete;
    transition-delay: 100ms;
}

.popup-modal {
    padding: var(--container-level-padding);
    background-color: var(--bkg-color);
    /* border: 1px solid black; */
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -150%);
    font-size: var(--font-size-3);
    pointer-events: none;
    opacity: 0%; 
    transition: transform 300ms, opacity 300ms, display 300ms allow-discrete;
    transition-timing-function: ease; 
    transition-delay: 100ms;
}

.login-form-container {
    width: 300px;
}


label, input {
    display: block;
}

input {
    appearance: none;
}

.login-form-container label,
.login-form-container input {
    width: 100%;
    height: 25px;
}

.login-form-container label {
    font-weight: 200;
    height: auto;
    margin-top: 10px;
    padding-left: 5px;
}

.login-form-container input {
    font-size: var(--font-size-3);
    border: 1px solid silver;
    border-radius: var(--input-border-radius);
    padding-left: 10px;
}

.login-form-container input:hover {
    background-color: aliceblue;
}

.login-form-container input:focus {
    background-color: var(--bkg-color);
    outline: none;
    
}

button {
    appearance: none;
    font: inherit;
    width: 100%;
    height: 2rem;
    margin-top: 20px;
    border-radius: var(--button-border-radius);
    background-color: var(--sidebar-bkc);
    color: white;
    outline: none;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}


.theme {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--bkg-color);
    position: fixed;
    /* top: var(--container-level-padding); */
    right: var(--container-level-padding);
    border: none;
    box-shadow: var(--card-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-icon {
    height: 30px;
    width: 30px;
    filter: var(--icon-filter);
}
.backdrop.show {
    opacity: 30%;
    display: block;
    pointer-events: all;
}

.popup-modal.show {
    opacity: 100%;
    display: block;
    pointer-events: all;
    transform: translate(-50%, -50%);
  }

  @starting-style {
    .popup-modal.show {
        opacity: 0%;
        transform: translate(-50%, -150%);
    }
    .backdrop.show {
        opacity: 0%;
    }
  }

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: var(--sidebar-bkc);
    color: var(--sidebar-font-color);
    padding: var(--container-level-padding);
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
}


.user-image {
    height: 40px;
    width: 40px;
}

.name-card {
    display: flex;
    cursor: pointer;
    gap: 20px;
    align-items: center;
    padding: 10px;
    font-size: var(--font-size-2);
    border: 2px solid var(--peach-col-4);
    border-radius: 40px;
}

.name-card:hover {
    border: 2px solid var(--peach-col-5);
    color: var(--peach-col-5);
}


.sidebar-anim {
    animation: sidebar_items 500ms ease-out 100ms 1;

}

@keyframes sidebar_items {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}

.topdown-animation {
    animation: topdowntrans 500ms ease-in-out 100ms 1;
}

@keyframes topdowntrans {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.create-pro {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    font-size: var(--font-size-2);
    border-radius: var(--button-border-radius);
    border: 2px solid var(--peach-col-3);
    color: var(--peach-col-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-pro:hover {
    border: 2px solid var(--peach-col-5);
    color: var(--peach-col-5);
}
.user-projects {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(auto-fill, 30px);
    padding-left: 10px;
    font-size: var(--font-size-2);
    gap: 10px;
}

.sidebar-widget {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    align-items:center;
    transition: transform 300ms ease-in-out;
}

.sidebar-widget:hover {
    color: var(--peach-col-5);
    cursor: pointer;
    transform: translateX(10px);
}
.icon {
    height: 30px;
    width: 30px;
    filter: invert(1);
}
.mainboard {
    padding: var(--container-level-padding);
    background-color: var(--board-bkc);
    display: grid;
    grid-template-rows: 60px auto;
    padding: 20px;
    gap: 60px;
    /* background-color: rgb(28, 28, 28); */
}

.header {
    justify-self: start;
    align-self: start;
    /* margin-top: 20px; */
    padding: var(--container-level-padding);
    font-size: var(--font-size-1);
    background-color: var(--bkg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: var(--card-shadow);
}

.content {
    display: grid;
    grid-auto-columns: 400px;
    grid-template-rows: 400px;
    grid-auto-flow: column;
    gap: 25px;
    overflow-x: auto;
}

.content-item {
    background-color: var(--bkg-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    padding: 20px;
    overflow: auto;
}

.todo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.todo-form input, .todo-form label, option, textarea {
    border: none;
    background-color: var(--bkg-color);
    width: 100%;
    outline: none;
    font: inherit;
    color: var(--font-color);

}

/* textarea {
    background-color: var(--peach-col-1);
} */


.todo-form label {
    font-weight: 200;
    font-size: var(--font-size-3);
    height: auto;
    /* margin-top: 10px; */
    /* padding-left: 5px; */
}

.todo-form input {
    font-size: var(--font-size-2);
    height: auto
    /* padding-left: 10px; */
}

.todo-title input {
    font-size: var(--font-size-1);
    font-weight: bold;
}


/* .todo-form input:hover {
    background-color: aliceblue;
} */

.todo-form input:focus, textarea:focus {
    background-color: var(--peach-col-1);
    
}

.todo-status {
    display: flex;
    gap: 15px;
    align-items: center;
}

input[type='checkbox'] {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid black;
    display: inline;
    background-color: var(--bkg-color);
    cursor: pointer;
}

fieldset label {
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: green;
    border: none;
}


/* Style the checkmark icon */
input[type="checkbox"]::after {
    content: "✔";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    color: white;
    /* top: 50%; */
    left: 15%;
    transform: translate(0%, 0%) scale(0);
    border-radius: 2px;
    transition: transform 0.2s ease;
}

/* Show the checkmark icon when checkbox is checked */
input[type="checkbox"]:checked::after {
    transform: translate(0%, 0%) scale(0.8);
}





select, option {
    font: inherit;
    color: var(--font-color);
    width: 100px;
}

.select-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.prior-color {
    width: 35px;
    height: 15px;
    border-radius: var(--card-border-radius);
}

.todo-button {
    position: absolute;
    appearance: none;
    font: inherit;
    width: 30px;
    height: 30px;
    /* margin-top: 20px; */
    border-radius: var(--button-border-radius);
    background-color: white;
    outline: none;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-button {
    top: 0px;
    right: 5px;
}

.edit-button, .save-button {
    top: 0px;
    right: 40px;
}

.todo-button:hover {
    background-color: var(--peach-col-1);
}

.todo-button-img {
    height: 20px;
    width: 20px;
}