@font-face {
    font-family: 'neon';
    src: url('./assets/font.ttf') format('truetype');
}
:root {
    --font-size-1: 20px;
    --font-size-2: 18px;
    --font-size-3: 15px;
    --font-size-4: 13px;
    --sidebar-bkc: #082f49;
    --container-level-padding: 20px;
    --backdrop-col: black;
    --button-border-radius: 30px;
    --input-border-radius: 30px;
    --card-border-radius: 15px;
    --box-shadow-col: rgba(0, 0, 0, 0.2);
    --card-shadow: 2px 2px 10px 0px var(--box-shadow-col);
    --font-color: black;
    --sidebar-font-color: white;
    color: var(--font-color);
    --peach-col-1: #fff1f2;
    --peach-col-2: #ffe4e6;
    --peach-col-3: #fecdd3;
    --peach-col-4: #fda4af;
    --peach-col-5: #fb7185;
    --peach-col-6: #f43f5e;
    --peach-col-7: #e11d48;
    --peach-col-8: #be123c; 
    --bkg-color: white;
    --board-bkc: var(--peach-col-1);
    --icon-filter: invert(0);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bkg-color);
    height: 100vh;
    font-family: 'neon', Roboto, Oxygen, Ubuntu, sans-serif, sans-serif, sans-serif;
    box-sizing: border-box;
    font-size: var(--font-size-3);
}


button,
fieldset,
input,
legend,
select,
textarea, option {
  appearance: none;
  border: none;
  outline: none;
}


.backdrop {
    pointer-events: none;
    position: fixed;
    inset: 0;
    background: var(--backdrop-col);
    opacity: 0%;
    display: none;
    transition: opacity 300ms, display 300ms allow-discrete;
    transition-delay: 100ms;
}

.popup-modal {
    padding: var(--container-level-padding);
    background-color: var(--bkg-color);
    /* border: 1px solid black; */
    box-shadow: var(--card-shadow);
    border-radius: var(--card-border-radius);
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -150%);
    font-size: var(--font-size-3);
    pointer-events: none;
    opacity: 0%; 
    transition: transform 300ms, opacity 300ms, display 300ms allow-discrete;
    transition-timing-function: ease; 
    transition-delay: 100ms;
}

.login-form-container {
    width: 300px;
}


label, input {
    display: block;
}

input {
    appearance: none;
}

.login-form-container label,
.login-form-container input {
    width: 100%;
    height: 25px;
}

.login-form-container label {
    font-weight: 200;
    height: auto;
    margin-top: 10px;
    padding-left: 5px;
}

.login-form-container input {
    font-size: var(--font-size-3);
    border: 1px solid silver;
    border-radius: var(--input-border-radius);
    padding-left: 10px;
}

.login-form-container input:hover {
    background-color: aliceblue;
}

.login-form-container input:focus {
    background-color: var(--bkg-color);
    outline: none;
    
}

.login-form-container button {
    appearance: none;
    font: inherit;
    width: 100%;
    height: 2rem;
    margin-top: 20px;
    border-radius: var(--button-border-radius);
    background-color: var(--sidebar-bkc);
    color: white;
    outline: none;
    box-shadow: none;
}

button:hover {
    cursor: pointer;
}


.theme {
    appearance: none;
    font: inherit;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color: var(--bkg-color);
    position: fixed;
    top: var(--container-level-padding);
    right: var(--container-level-padding);
    border: none;
    box-shadow: var(--card-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-icon {
    height: 30px;
    width: 30px;
    filter: var(--icon-filter);
}
.backdrop.show {
    opacity: 30%;
    display: block;
    pointer-events: all;
}

.popup-modal.show {
    opacity: 100%;
    display: block;
    pointer-events: all;
    transform: translate(-50%, -50%);
  }

  @starting-style {
    .popup-modal.show {
        opacity: 0%;
        transform: translate(-50%, -150%);
    }
    .backdrop.show {
        opacity: 0%;
    }
  }

  .container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar {
    background-color: var(--sidebar-bkc);
    color: var(--sidebar-font-color);
    padding: var(--container-level-padding);
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: center; */
}


.user-image {
    height: 40px;
    width: 40px;
}

.name-card {
    display: flex;
    cursor: pointer;
    gap: 20px;
    align-items: center;
    padding: 10px;
    font-size: var(--font-size-2);
    border: 2px solid var(--peach-col-4);
    border-radius: 40px;
}

.name-card:hover {
    border: 2px solid var(--peach-col-5);
    color: var(--peach-col-5);
}


.sidebar-anim {
    animation: sidebar_items 500ms ease-out 100ms 1;

}

@keyframes sidebar_items {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0);
    }
}

.topdown-animation {
    animation: topdowntrans 500ms ease-in-out 100ms 1 both;
}

@keyframes topdowntrans {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

.create-pro {
    appearance: none;
    font: inherit;
    outline: none;
    margin-top: 20px;
    width: 80%;
    height: 2rem;
    padding: 20px;
    box-sizing: border-box;
    font-size: var(--font-size-2);
    background-color: var(--sidebar-bkc);
    border-radius: var(--button-border-radius);
    border: 2px solid var(--peach-col-3);
    color: var(--peach-col-3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-pro:hover {
    border: 2px solid var(--peach-col-5);
    color: var(--peach-col-5);
}
.user-projects {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: repeat(auto-fill, 30px);
    padding-left: 10px;
    font-size: var(--font-size-2);
    gap: 10px;
}

.sidebar-widget, .sidebar-widget-fixed {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    align-items:center;
    transition: transform 300ms ease-in-out;
}

.sidebar-widget:hover {
    color: var(--peach-col-5);
    cursor: pointer;
    transform: translateX(10px);
}
.icon {
    height: 30px;
    width: 30px;
    filter: invert(1);
}
.mainboard {
    padding: var(--container-level-padding);
    background-color: #eff6ff;
    display: grid;
    grid-template-rows: 60px auto;
    padding: 20px;
    gap: 60px;
    /* background-color: rgb(28, 28, 28); */
}

.header {
    justify-self: start;
    align-self: start;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}


.header-title-container , .add-todo-button{
    /* margin-top: 20px; */
    position: relative;
    padding: var(--container-level-padding);
    width: auto;
    height: auto;
    font-size: var(--font-size-1);
    background-color: var(--bkg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: var(--card-shadow);
}

.header-title {
    border: none;
    width: auto;
    background-color: var(--bkg-color);
    outline: none;
    font: inherit;
    color: var(--font-color);
    border-radius: 5px;
}



.content {
    display: grid;
    grid-auto-columns: 400px;
    grid-template-rows: 400px;
    grid-auto-flow: column;
    gap: 25px;
    overflow-x: auto;
}

.content-item {
    background-color: var(--bkg-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    padding: 20px;
    overflow: auto;
}

.todo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.todo-form input, .todo-form label, option, textarea {
    border: none;
    background-color: var(--bkg-color);
    width: 100%;
    outline: none;
    font: inherit;
    color: var(--font-color);
    border-radius: 5px;

}

/* textarea {
    background-color: var(--peach-col-1);
} */


.todo-form label, legend {
    font-size: var(--font-size-4);
    height: auto;
}

.todo-form input {
    /* font-size: var(--font-size-2); */
    height: auto
    /* padding-left: 10px; */
}

.todo-title input {
    font-size: var(--font-size-1);
    font-weight: bold;
}


/* .todo-form input:hover {
    background-color: aliceblue;
} */

textarea {
    background-color: var(--peach-col-1);
}

textarea:focus {
    background-color: var(--peach-col-2);
    
}

.todo-date input {
    width: auto;
}

fieldset {
    width: auto;
}
.todo-status {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

input[type='checkbox'] {
    position: relative;
    height: 18px;
    width: 20px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid black;
    /* display: inline; */
    background-color: var(--bkg-color);
    cursor: pointer;
}

.todo-status label {
    cursor: pointer;
    font-size: var(--font-size-3);
}

input[type='checkbox']:checked {
    background-color: green;
    border: none;
}


/* Style the checkmark icon */
input[type="checkbox"]::after {
    content: "✔";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    color: white;
    left: 2px;
    transform: scale(0);
    /* border-radius: 2px; */
    transition: transform 0.2s ease;
}

/* Show the checkmark icon when checkbox is checked */
input[type="checkbox"]:checked::after {
    transform: scale(0.8);
}


select, option {
    font: inherit;
    color: var(--font-color);
    width: 100px;
}

.select-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.prior-color {
    width: 35px;
    height: 15px;
    border-radius: var(--card-border-radius);
}

button {
    appearance: none;
    font: inherit;
    outline: none;
}

.todo-button {
    position: absolute;
    font: inherit;
    width: 30px;
    height: 30px;
    /* top: -6%; */
    border-radius: var(--button-border-radius);
    background-color: white;
    outline: none;
    box-shadow: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
}

.del-button, .del-new-button {
    right: 0px;
}

.edit-button, .edit-new-button, .save-button {
    right: 35px;
}


.todo-button:hover {
    opacity: 1;
}

.todo-button-img {
    height: 20px;
    width: 20px;
}

.edit-project-button, .save-project-button {
    top: var(--container-level-padding);
    right: 45px;
}

.del-project-button {
    top: var(--container-level-padding);
    right: 10px;
}

.home-item {
    display: grid;
    grid-template-rows: 50px 300px;
    gap: 25px;
}

.project-title-home {
    /* height: 50px; */
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--bkg-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    font-size: var(--font-size-2);
}

.add-new-task {
    top: 13px;
    right: 10px;
}
.home-item-container {
    /* background-color: var(--bkg-color); */
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    overflow: hidden;
    position: relative;
}
.home-content-item {
    background-color: var(--bkg-color);
    border-radius: var(--card-border-radius);
    /* box-shadow: var(--card-shadow); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    /* position: relative; */
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.popup-active {
    overflow: hidden;
}

.item-home-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
}

.todo-home-container {
    position: relative;
    background-color: var(--bkg-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-right: 30px;
    justify-content: space-between;
    box-shadow: var(--card-shadow);
    /* --priority-color: red; */
    /* border-left: 5px solid var(--priority-color); */
}

.todo-home-container:hover {
    border-right: 2px solid var(--peach-col-3);
    border-top: 2px solid var(--peach-col-3);
    border-bottom: 2px solid var(--peach-col-3);
    cursor: pointer;
}

.home-todo-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-todo-title {
    font-size: var(--font-size-2);
    font-weight: bold;
    /* color: var(--font-color); */
}

.home-todo-date {
    font-size: var(--font-size-3);
}

.home-del-button  {
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
}

.home-edit-button {
    right: 30px;
    top: 10px;
    height: 20px;
    width: 20px;
}

.home-del-button img, .home-edit-button img {
    height: 15px;
    width: 15px;
}

.todo-home-container input[type='checkbox'] {
    height: 20px;
    width: 20px;
} 

.prior-1 {
    border-left: 5px solid red;
}

.prior-2 {
    border-left: 5px solid orange;
}
.prior-3 {
    border-left: 5px solid yellow;
}
.prior-4 {
    border-left: 5px solid blue;
}
.prior-5 {
    border-left: 5px solid aqua;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    height: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

